# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="somesecret"

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="postgres://admin:securepassword@localhost:5432/mydb"

GOOGLE_CLIENT_ID="abc"
GOOGLE_CLIENT_SECRET="abc"

# -----------------------------------------------------------------------------
# Blockchain (Contract Addresses)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CONTRACT_ADDRESS="0x38fa9C7fc48690Df2b9D628c810428cc450f79cf"
NEXT_PUBLIC_TOKEN_ADDRESS="0x4bAeF854339EAC9A936B4Ee36eb4d11feE4cb3a7"